#![enable(implicit_some)]
Text(
    transform: (
        id: "fps_text",
        anchor: TopLeft,
        x: 101.,
        y: 26.,
        z: 1.,
        width: 200.,
        height: 50.,
        transparent: true,
    ),
    text: (
        text: "FPS: Missing",
        font_size: 12.,
        color: (0.7, 0.7, 0.7, 1.),
        font: File("resources/font/Hack-Regular.ttf", Ttf, ()),
    ),
)
