{
    0: {
        name: "Air",
        subtypes: {
            0: {
                color: (0, 0, 0),
                transparency: 255,
            },
        }
    },
    1: {
        name: "Stone",
        color: (100, 100, 100),
        transparency: 0,
        subtypes: {
            0: {
                color: (100, 100, 100),
                transparency: 0,
            },
        }
    },
    2: {
        name: "Dirt",
        color: (71, 72, 7),
        transparency: 0,
        subtypes: {
            0: {
                color: (71, 72, 7),
                transparency: 0,
            },
        }
    },
    3: {
        name: "Grass",
        subtypes: {
            0: {
                color: Rgb(24, 71, 7),
                transparency: 0,
            },
        }
    },
}
